<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider"
				 invariant="System.Data.SQLite"
				 description=".Net Framework Data Provider for SQLite" 
				 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	
	<connectionStrings>
		
		<add name="SQLite"
			 connectionString="Data Source=|DataDirectory|/EventStore.sqlite;Version=3;"
			 providerName="System.Data.SQLite" />

		<add name="SQL Server"
			 connectionString="Data Source=(local);Initial Catalog=EventStore;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient" />
		
	</connectionStrings>

</configuration>