<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Data.SQLite" version="1.0.87.0" targetFramework="net40" requireReinstallation="True" />
  <package id="xunit" version="1.9.1" targetFramework="net40"/>
  <package id="xunit.should" version="1.1" targetFramework="net40" />
</packages>