<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.3.0" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Data.SQLite.Core" version="1.0.91.3" targetFramework="net40" requireReinstallation="true" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
  <package id="xunit.should" version="1.1" targetFramework="net40" />
</packages>