<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.data>
		<DbProviderFactories>
			
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
				 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />

			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
			
			<remove invariant="Npgsql" />
			<add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL"
				 type="Npgsql.NpgsqlFactory, Npgsql" />

			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="Firebird Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description="Firebird"
				 type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />

		</DbProviderFactories>
	</system.data>

	<connectionStrings>

		<add name="SQLite" providerName="System.Data.SQLite"
			 connectionString="Data Source=[DATABASE].sqlite;Version=3;Enlist=N;" />

		<add name="MSSQL" providerName="System.Data.SqlClient"
			 connectionString="Data Source=[HOST];Initial Catalog=[DATABASE];Integrated Security=SSPI;Enlist=false;" />

		<add name="SQLCE" providerName="System.Data.SqlServerCe.3.5"
			 connectionString="Data Source=[DATABASE].sdf;Persist Security Info=False;" />

		<add name="Access" providerName="System.Data.OleDb"
			 connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=[DATABASE].mdb;User Id=admin;Password=;" />

		<add name="Azure" providerName="System.Data.SqlClient"
			 connectionString="Server=tcp:[HOST];Database=[DATABASE];User ID=[USER];Password=[PASSWORD];Trusted_Connection=False;Encrypt=True;Enlist=false;" />

		<add name="MySQL" providerName="MySql.Data.MySqlClient"
			connectionString="Server=[HOST];Database=[DATABASE];Uid=[USER];Pwd=[PASSWORD];AutoEnlist=false;" />

		<add name="AmazonRDS" providerName="MySql.Data.MySqlClient"
			 connectionString="Server=[HOST];Database=[DATABASE];Uid=[USER];Pwd=[PASSWORD];AutoEnlist=false;" />

		<add name="PostgreSQL" providerName="Npgsql"
			 connectionString="Server=[HOST];Database=[DATABASE];Uid=[USER];Pwd=[PASSWORD];Enlist=false;" />

		<add name="Firebird" providerName="FirebirdSql.Data.FirebirdClient"
			 connectionString="DataSource=[HOST];Port=3050;Database=[DATABASE];User=[USER];Password=[PASSWORD];" />

		<add name="RavenDB" connectionString="http://[HOST]:8080" />
		<add name="MongoDB" connectionString="mongodb://[HOST]/[DATABASE]" />

  </connectionStrings>

	<appSettings>

		<add key="persistence" value="InMemoryPersistence" />
		<add key="host" value="localhost" />
		<add key="port" value="8080" />
		<add key="database" value="EventStore2" />
		<add key="user" value="" />
		<add key="password" value="" />
		
	</appSettings>

</configuration>