<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.data>
		<DbProviderFactories>
			
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
				 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />

			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
			
			<remove invariant="Npgsql"/>
			<add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL"
				 type="Npgsql.NpgsqlFactory, Npgsql" />
			
		</DbProviderFactories>
	</system.data>

	<connectionStrings>

		<add name="SQLite" providerName="System.Data.SQLite"
			 connectionString="Data Source=|DataDirectory|/Storage/EventStore2.sqlite;Version=3;" />

		<add name="MSSQL" providerName="System.Data.SqlClient"
			 connectionString="Data Source=(local);Initial Catalog=EventStore2;Integrated Security=SSPI;" />

		<add name="Azure" providerName="System.Data.SqlClient"
			 connectionString="Server=tcp:SERVER.database.windows.net;Database=EventStore2;User ID=USER@SERVER;Password=PASSWORD;Trusted_Connection=False;Encrypt=True;" />

		<add name="SQLCE" providerName="System.Data.SqlServerCe.3.5"
			 connectionString="Data Source=|DataDirectory|/EventStore2.sdf;Persist Security Info=False;" />

		<add name="MySQL" providerName="MySql.Data.MySqlClient"
			connectionString="Server=localhost;Database=EventStore2;Uid=;Pwd=;" />

		<add name="AmazonRDS" providerName="MySql.Data.MySqlClient"
			 connectionString="Server=SERVER.ZONE.rds.amazonaws.com;Database=EventStore2;Uid=USER;Pwd=PASSWORD;" />

		<add name="PostgreSQL" providerName="Npgsql"
			 connectionString="Server=localhost;Database=EventStore2;Uid=;Pwd=;" />

	</connectionStrings>

	<appSettings>

		<!-- Change this value to be SQLite, MSSQL, MySQL, etc. to put the various database engines under test. -->
		<add key="UnderTest" value="MSSQL" />

	</appSettings>

</configuration>