<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebirdSql.Data.FirebirdClient" version="3.0.2.1" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.5.10" targetFramework="net40" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net40" />
  <package id="Npgsql" version="2.0.12.1" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.0.2360" targetFramework="net40" />
  <package id="RavenDB.Database" version="2.0.2360" targetFramework="net40" />
  <package id="RavenDB.Embedded" version="2.0.2360" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.85.0" targetFramework="net40" />
</packages>