<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebirdSql.Data.FirebirdClient" version="2.7.0" />
  <package id="Machine.Specifications-Signed" version="0.5.3.0" />
  <package id="MySql.Data" version="6.4.4" />
  <package id="Npgsql" version="2.0.11" />
  <package id="System.Data.SQLite" version="1.0.79.0" />
</packages>