<?xml version="1.0"?>
<configuration>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Npgsql"/>
            <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
        </DbProviderFactories>
    </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
