<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="NEventStore" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EventStore-Example;Integrated Security=SSPI;"/>
	</connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
