<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Mongo" connectionString="mongodb://[HOST]/[DATABASE]"/>
	</connectionStrings>

	<appSettings>
		<add key="host" value="(local)"/>
		<add key="port" value="8080"/>
		<add key="database" value="EventStore"/>
		<add key="user" value=""/>
		<add key="password" value=""/>
	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
