<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventStore.Persistence.AcceptanceTests.Properties.Settings.Access"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=NEventStore.mdb;User Id=admin;Password=;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>