<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.data>
		<DbProviderFactories>
			
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
				 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
			
			<remove invariant="Npgsql"/>
			<add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL"
				 type="Npgsql.NpgsqlFactory, Npgsql" />
			
		</DbProviderFactories>
	</system.data>

	<connectionStrings>

		<add name="SQLite" providerName="System.Data.SQLite"
			 connectionString="Data Source=|DataDirectory|/Storage/EventStore2.sqlite;Version=3;" />

		<add name="MSSQL" providerName="System.Data.SqlClient"
			 connectionString="Data Source=(local);Initial Catalog=EventStore2;Integrated Security=SSPI;" />

		<add name="MySQL" providerName="MySql.Data.MySqlClient"
			 connectionString="Server=localhost;Database=EventStore2;Uid=;Pwd=;" />

		<add name="PostgreSQL" providerName="Npgsql"
			 connectionString="Server=localhost;Database=EventStore2;Uid=;Pwd=;" />

	</connectionStrings>
</configuration>