[*]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.xml]
indent_style = space

[*.cs]
csharp_new_line_before_open_brace = all

# RCS1229: Use async/await when necessary.
dotnet_diagnostic.RCS1229.severity = error

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0028: Simplify collection initialization
dotnet_style_collection_initializer = false

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# Logging Warnings: temporary disabled, enable them again later on

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none