<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventStore.Persistence.AcceptanceTests.Properties.Settings.SQLCE"
            connectionString="Data Source=EventStore.sdf;Persist Security Info=False;"
            providerName="System.Data.SqlServerCe.4.0"/>
    </connectionStrings>
</configuration>