<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.DataAccess.Client" />
            <add name="Oracle Data Provider" invariant="Oracle.DataAccess.Client"
                 description=".Net Framework Data Provider for Oracle"
                 type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
        </DbProviderFactories>
    </system.data>
</configuration>