<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Npgsql" />
            <add name="PostgreSQL Data Provider" invariant="Npgsql"
                 description=".Net Framework Data Provider for PostgreSQL"
                 type="Npgsql.NpgsqlFactory, Npgsql" />
        </DbProviderFactories>
    </system.data>
</configuration>