<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EventStore.Persistence.SqlPersistence.Tests.Properties.Settings.EventStoreConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\EventStore.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
        <add name="EventStore.Persistence.SqlPersistence.Tests.Properties.Settings.EventStoreConnectionString1" connectionString="Data Source=|DataDirectory|\EventStore.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
